main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.card {
  display: flex;
  height: 400px;
  width: 250px;
  border-radius: 12px;
  margin: 24px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}